<%= simple_form_for([@cart, @cartship]) do |f| %>
    <h3>
      <% if @cartship.product.present? %>
        <%= @cartship.product.title  %>
        <%= f.hidden_field :product, value: @cartship.product %>
      <% else %>
        <%= Product.find(params[:product_id]).title %>
        <%= f.hidden_field :product_id, value: params[:product_id] %>
      <% end %>
    </h3>

    <%= f.hidden_field :cart_id, value: @cart.id %>
    

    <%= f.input :quantity, autofocus: true, label: false, :input_html => { :type => "number", :value => @quantity } %>

    <%= f.button :submit %>
<% end %>

