<p id="notice"><%= notice %></p>

<%= button_to 'sepeti sil', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button success' %>

<h1>Cartships</h1>

<table>
  <thead>
    <tr>
      <th>ürün</th>
      <th>adet</th>
      <th>birim fiyatı</th>
      <th>toplam fiyatı</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartships.each do |cartship| %>
      <tr>
        <td><%= cartship.product.title %></td>
        <td><%= cartship.quantity %></td>
        <td><%= cartship.product.price %></td>
        <td>
          <%= cartship.product.price * cartship.quantity %>          
        </td>        
        <td><%= link_to 'güncelle', edit_cart_cartship_path(@cart, cartship) %></td>
        <td><%= link_to 'sepetten çıkar', cart_cartship_path(@cart, cartship), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h5>toplam: </h5>
<h6 class="subheader">
  <%= @cart.total_price  %>
</h6>