<p id="notice"><%= notice %></p>

<%= button_to 'sepeti sil', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button success' %>

<table>
  <thead>
    <tr>
      <th>ürün</th>
      <th>adet</th>
      <th>birim fiyatı</th>
      <th>toplam fiyatı</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.cartships.each do |cartship| %>
      <tr>
        <td>
          <%= cartship.product.title %>
        </td>
        <td>
          <%= cartship.quantity %>
        </td>
        <td>
          <%= cartship.product.price %>
        </td>
        <td>
          <%= cartship.product.price * cartship.quantity %>          
        </td>
        <td>
          <%= link_to 'sepetten çıkar', cartship, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
