<p id="notice"><%= notice %></p>

<h1>Satış</h1>

<table>
  <thead>
    <tr>
      <th>Ürün</th>
      <th>Fiyat</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <% if Cart.any? %>
            <% if Cartship.any? && Cartship.find_by(product_id: product) %>
                <%= link_to 'add to cartship: update item', edit_cart_cartship_path(Cart.first, Cartship.all.find_by(product_id: product)) %>  
            <% else %>
              <%= link_to 'add to cartship: new item', new_cart_cartship_path(Cart.first, product_id: product) %>
            <% end %>
          <% else %>
            <%= link_to 'add to cart', new_cart_path %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
