<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li>
        <%= link_to 'Ana Sayfa', root_path %>
      </li>
      <li>
        <%= link_to 'Ürünler', products_path %>
      </li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <%#= link_to "Sepet (#{Cart.first.cartships.count})", cart_path(Cart.first) if Cart.any? %>
        <%= link_to "Sepet (#{Cart.first.cartships.count})", cart_cartships_url(Cart.first) if Cart.any? %>
      </li>
    </ul>
  </div>
</div>